Pillow
catalogue
convokit
cycler
cymem
ftfy
gensim
imblearn
importlib_metadata
joblib
kiwisolver
langdetect
markdown
matplotlib
murmurhash
nltk
numpy
pandas
plac
preshed
python-dateutil
pytz
requests
regex
scipy
setuptools
sklearn
spacy
srsly
textblob
thinc==7.4.0
pip
threadpoolctl
wasabi
wordfreq
zipp
