Keras
Pillow
catalogue
convokit
click
cycler
cymem
emoji
ftfy
gensim
h5py
imblearn
importlib_metadata
joblib
kiwisolver
langcodes
langdetect
linear
liblinear
markdown
matplotlib
murmurhash
nltk
numpy
pandas
pip
plac
preshed
python-dateutil
pytz
regex
requests
scipy
setuptools
sklearn
spacy==3.0.0
srsly
statsmodels
text_unidecode
textblob
thinc==7.4.0
threadpoolctl
wasabi
wordfreq
smart-open
zipp
